db/*.sqlite
*.pyc

.Python
/bin/*
/lib/*
/include/

python/q1tableimport.db

pip-selfcheck.json

pysqlite2-doc/default.css

pysqlite2-doc/docutils.css

q1tableimport.sql

python/q1tableimport.sql
.Rproj.user

analysis/.ipynb_checkpoints/
